DOMAIN=api.yourname.duckdns.org
ACME_EMAIL=email_to_ssl@gmail.com

DB_NAME=globetrottr_prod
DB_USER=prod_user
DB_PASSWORD=STRONG_PROD_PASSWORD

JWT_SECRET=LONG_AND_SECURE_JWT_SECRET_KEY
GOOGLE_CLIENT_ID=google_client_id

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=passw
MAIL_FROM=your@email.com

GITHUB_USER=XXXXX
GITHUB_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX