# For umlator use 10.0.2.2:8080 (it maps it to localhost of the host machine)
# For real device use the actual IP address of the machine running the backend, e.g. BACKEND_URL=http://192.168.1.15:8080
BACKEND_URL=http://10.0.2.2:8080
GOOGLE_CLIENT_ID=