# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/build/
android/.gradle/
android/local.properties
android/NOTICE
android/java_pid50380.hprof

linux/flutter/generated_plugin*
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin*
windows/flutter/generated_plugins.cmake

# My (kubikolo) project scraping scripts to use as context for AI models, to assist in debugging
scrape_project.py
project_bundle_context.txt
repomix-output.xml

# My (marcel) project scraping scripts to use as context for AI models, to assist in debugging
scraper.py
combined_flutter_code.txt
